src/*.o
test/*.o
src/CMakeCache.txt
src/CMakeFiles/*
src/cmake_install.cmake
src/Makefile
test/CMakeCache.txt
test/CMakeFiles/*
test/cmake_install.cmake
test/Makefile
test/test_kestrel
src/kestrel
*.bak
*.c~
*.h~
gmon.out
